body, html {
  height: 100%;
  margin: 0;
}
.add-form {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  height: calc(100% - 70px);
  padding: 20px;
  background-color: white;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"], textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}